@font-face {
  font-family: barlow;
  src: url("../fonts/Barlow-Medium.ttf");
}
body {
  font-family: barlow, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  overflow-x: hidden;
  background-color: #0c0d11;
}
.main .show-links {
  display: flex !important;
  height: 300px !important;
}
.main i {
  color: white;
}
.main .bannerTop {
  height: 50px;
  background-color: #805ef0;
}
.main .bannerTop ul > li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.main .bannerTop ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.main > .hero > div > nav {
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.682);
  position: relative;
}
.main > .hero > div > nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .hero > div > nav > a > figure {
  width: 120px;
  height: 100px;
}
.main > .hero > div > nav > a > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main > .hero > div > nav .list-menu {
  position: absolute;
  top: 100% !important;
  left: 0 !important;
  z-index: 1000;
  background-color: #0c0d11;
  color: white;
  display: flex;
  margin: 0 10px;
  font-size: 18px;
  text-transform: uppercase;
  overflow-y: scroll;
}
.main > .hero > div > nav .list-menu > div {
  width: 100%;
}
.main > .hero > div > nav .list-menu > div > ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.main > .hero > div > nav .list-menu > div > ul > li {
  position: relative;
  font-weight: bold;
}
.main > .hero > div > nav .list-menu > div > ul > li:hover > ul {
  height: auto;
}
.main > .hero > div > nav .list-menu > div > ul > li:hover {
  background-color: #805ef0;
  transition: 0.4s;
}
.main > .hero > div > nav .list-menu > div > ul > li > ul {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  background-color: #14141d;
}
.main > .hero > div > nav .list-menu > div > ul > li > ul > li a {
  width: 100%;
  padding: 10px 30px;
  color: #c9c6c6;
}
.main > .hero > div > nav .list-menu > div > ul > li > ul > li:hover {
  background-color: #805ef0;
  transition: 0.4s;
}
.main > .hero > div > nav .list-menu > div > ul > li > a {
  width: 100%;
  display: flex;
  padding: 15px;
}
.main > .hero > div > nav .list-menu > div > ul > li > i {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
}
.main > .hero > div > nav > ul > li {
  display: flex;
  height: 100%;
  align-items: center;
}
.main > .hero > div > nav > ul > li > a {
  transition: 0.4s;
}
.main > .hero > div > nav > ul > li:hover > a {
  color: #805ef0;
}
.main > .hero > div > nav > ul > li:nth-of-type(1) {
  position: relative;
}
.main > .hero > div > nav > ul > li:nth-of-type(1):hover > ul {
  display: block;
}
.main > .hero > div > nav > ul > li:nth-of-type(1) > ul {
  display: none;
  width: 160px;
  background-color: #14141d;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 200;
}
.main > .hero > div > nav > ul > li:nth-of-type(1) > ul > li {
  color: white;
  list-style: none;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.main > .hero > div > nav > ul > li:nth-of-type(1) > ul > li:hover {
  background-color: #805ef0;
}
.main > .hero > div > nav > ul > li:nth-last-child(1) {
  position: relative;
}
.main > .hero > div > nav > ul > li:nth-last-child(1):hover > ul {
  display: block;
}
.main > .hero > div > nav > ul > li:nth-last-child(1) > ul {
  display: none;
  width: 160px;
  background-color: #14141d;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 200;
}
.main > .hero > div > nav > ul > li:nth-last-child(1) > ul > li {
  color: white;
  list-style: none;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.main > .hero > div > nav > ul > li:nth-last-child(1) > ul > li:hover {
  background-color: #805ef0;
}
.main > .hero > div > nav > ul > li:nth-last-child(2) {
  position: relative;
}
.main > .hero > div > nav > ul > li:nth-last-child(2):hover > ul {
  display: block;
}
.main > .hero > div > nav > ul > li:nth-last-child(2) > ul {
  display: none;
  width: 160px;
  background-color: #14141d;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 200;
}
.main > .hero > div > nav > ul > li:nth-last-child(2) > ul > li {
  color: white;
  list-style: none;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.main > .hero > div > nav > ul > li:nth-last-child(2) > ul > li:hover {
  background-color: #805ef0;
}
.main > .hero > div > nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-transform: uppercase;
}
.main > .hero > div > nav > ul > li > i {
  font-size: 10px;
}
.main > .hero > div > nav > div > button {
  width: 60px !important;
  height: 60px !important;
  background-color: #805ef0;
  justify-content: center;
  align-items: center;
}
.main > .hero > div > nav > div > a > i {
  color: #805ef0;
  font-size: 24px;
}
.main > .hero > div > nav > div > .btn {
  background-color: #805ef0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  transition: 0.4s;
}
.main > .hero > div > nav > div > .btn:hover {
  background-color: #fff;
  color: black;
}
.main > .hero > div > .banner {
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.main > .hero > div > .banner > div:nth-of-type(1) {
  display: flex;
  position: relative;
  height: 100%;
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: animation_banner 10s linear infinite alternate;
          animation: animation_banner 10s linear infinite alternate;
}
.main > .hero > div > .banner > div:nth-of-type(2) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > .hero > div > .banner > div:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .hero > div > .banner > div:nth-of-type(2) > div > figure {
  width: 50%;
  height: 50%;
}
.main > .hero > div > .banner > div:nth-of-type(2) > div > figure > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main > .hero > div > .banner > div:nth-of-type(2) > h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.main > .hero > div > .banner > div:nth-of-type(2) > a {
  background-color: #805ef0;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  transition: 0.4s;
}
.main > .hero > div > .banner > div:nth-of-type(2) > a:hover {
  background-color: #fff;
  color: black;
}
@-webkit-keyframes animation_banner {
  to {
    transform: scale(1.2);
  }
}
@keyframes animation_banner {
  to {
    transform: scale(1.2);
  }
}
.main .pre_build > div > div > figure:hover > img {
  -webkit-animation: pre_build 0.4s linear infinite alternate;
          animation: pre_build 0.4s linear infinite alternate;
}
@-webkit-keyframes pre_build {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes pre_build {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
.main .container-animation {
  background-color: #14141d;
}
.main .container-animation .animation section {
  width: 500%;
  -webkit-animation: anime1 linear infinite 100s;
          animation: anime1 linear infinite 100s;
}
.main .container-animation .animation1 section {
  width: 500%;
  transform: translateX(-90%);
  -webkit-animation: anime2 linear infinite 100s;
          animation: anime2 linear infinite 100s;
}
@-webkit-keyframes anime1 {
  to {
    transform: translateX(-70%);
  }
}
@keyframes anime1 {
  to {
    transform: translateX(-70%);
  }
}
@-webkit-keyframes anime2 {
  to {
    transform: translateX(50%);
  }
}
@keyframes anime2 {
  to {
    transform: translateX(50%);
  }
}
.main .devices > div:last-of-type > img {
  position: absolute;
}
.main .devices > div:last-of-type > img:nth-of-type(1) {
  position: static;
}
.main .devices > div:last-of-type > img:nth-of-type(2) {
  width: 20%;
  z-index: 2;
  top: 53%;
  left: 5%;
}
.main .devices > div:last-of-type > img:nth-of-type(3) {
  width: 40%;
  top: 40%;
  left: 10%;
}
.main .devices > div:last-of-type > img:nth-of-type(4) {
  width: 50%;
  top: 55%;
  left: 50%;
}
.main .devices > div p {
  color: #805ef0;
  font-size: 20px;
}
.main .devices > div i {
  color: #805ef0;
  font-size: 80px;
}
.main .devices > div .box {
  background-color: #14141d;
}
.main .blog-contain {
  background-color: #14141d;
  height: auto;
}
.main .blog-contain > div div > div:nth-of-type(1) {
  overflow: hidden;
}
.main .blog-contain > div div > div:nth-of-type(1) > img {
  position: absolute;
}
.main .blog-contain > div div > div:nth-of-type(1) > img:nth-of-type(1) {
  position: static;
}
.main .blog-contain > div div > div:nth-of-type(1) > img:nth-of-type(2) {
  width: 50%;
  z-index: 2;
  top: 60%;
  left: 40%;
}
.main .blog-contain > div div > div:nth-of-type(2) > h2 {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.main .blog-contain > div div > div:nth-of-type(2) > p {
  color: #b7b4b6;
}
.main .blog-contain > div div > div:nth-of-type(2) > a {
  background-color: #805ef0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  transition: 0.4s;
}
.main .blog-contain > div div > div:nth-of-type(2) > a:hover {
  background: white;
  color: black;
}
.main .cursel {
  height: 30vh;
  overflow: hidden;
}
.main .cursel > div {
  width: 400%;
}
.main .cursel > div > div {
  width: 400%;
  transform: 1s;
  -webkit-animation: cursel 30s linear infinite;
          animation: cursel 30s linear infinite;
}
@-webkit-keyframes cursel {
  to {
    transform: translateX(-60%);
  }
}
@keyframes cursel {
  to {
    transform: translateX(-60%);
  }
}/*# sourceMappingURL=main.css.map */